

.category-btn {
    background: none;
    border: none;
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    color: #212529;
    cursor: pointer;
}

.category-btn:hover,
.category-btn:focus {
    text-decoration: underline;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.search-card {
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    max-width: 720px;
    margin: 2rem auto;
}

.logo-icon {
    color: #fb6e0a;
    width: 32px;
    height: 32px;
}

.btn-browse {
    background-color: #fff4e6; 
    color: #d9480f; 
    border-radius: 0.5rem;
    padding: 0.375rem 1rem;
    font-weight: 500;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease; 
}



.btn-browse:hover {
    background-color: #f4d1b7; 
    color: #9a2c00; 
}


.btn-login {
    background-color: #fb6e0a;
    color: white;
    border-radius: 0.5rem;
    padding: 0.375rem 1rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
/*    text-align: center;*/
    align-items: center;
    gap: 0.5rem;
    border: none;
    width: 100%;
}
.btn-login:hover,
.btn-login:focus {
    background-color: #d65a07; 
    color: white; 
}

.btn-signup {
    background-color: #fb6e0a;
    color: white;
    border-radius: 0.5rem;
    padding: 0.375rem 1rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: none;
    width: 100%;
}

.btn-signup:hover,
.btn-signup:focus {
    background-color: #d65a07; 
    color: white;
}



.recipe-card {
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.recipe-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0.75rem 1.5rem rgba(0, 0, 0, 0.15);
}

.recipe-img {
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s;
}

.recipe-card:hover .recipe-img {
    transform: scale(1.05);
}

.text-truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 159, 0, 0.25);
    border-color: #ff9900;
}

.bg-orange {
    background-color: #ff6700 !important;
}

.badge.rounded-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.d-flex {
    display: flex;
}

.me-2 {
    margin-right: 0.5rem;
}

.top-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0.5rem;
    z-index: 2; 
}
.category-btn.active {
    background-color: #ffc107; 
    color: white;
}

.chart-wrapper {
    position: relative;
    height: 350px; 
    width: 100%;
}